/* header footer */

@media (max-width: 1160px) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 1110px) {
  .logo a img,
  .nav-links {
    display: none;
  }

  .media {
    display: block;
  }

  .footer-bouqet {
    display: none;
  }
}

@media (max-width: 1024px) {
  .footer-block {
    display: none;
  }

  .footer-media {
    display: block;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .footer-block {
    display: none;
  }

  .footer-media {
    display: block;
    width: 80%;
  }
}
@media (max-width: 700px) {
  .header-media-social-media {
    display: none;
  }

  .header-media-phone {
    display: none;
  }
  .footer-media {
    width: 100%;
    max-width: 100%;
  }
}

/* ========== */

@media (max-width: 1160px) {
  iframe {
    max-width: 100%;
  }
}

@media (max-width: 1110px) {
  .contacts ul {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .contacts ul li {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .write-us {
    flex-wrap: wrap;
    gap: 0;
  }

  .write-title {
    width: 100%;
    text-align: left;
  }

  .write-desc {
    width: 100%;
    align-items: start;
  }

  .line {
    margin-top: 45px;
  }

  .write-text {
    margin: 0 auto;
  }

  .bg-img-1,
  .bg-img-2,
  .bg-img-3,
  .bg-img-4,
  .bg-img-5,
  .bg-img-6,
  .bg-img-7 {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .contacts h2,
  .contact-block h2 {
    padding-left: 0;
    font-size: 60px;
  }

  .contacts ul li {
    width: 48%;
    height: auto;
    gap: 10px;
  }

  .contacts ul li h3 {
    font-size: 16px;
  }

  .contacts ul li p {
    font-size: 14px;
  }

  .map div {
    font-size: 16px;
  }

  .write-text {
    width: 90%;
  }
}

@media (max-width: 425px) {
  .contacts h2,
  .contact-block h2 {
    font-size: 40px;
  }

  .contacts ul li h3 {
    font-size: 14px;
  }

  .contacts ul li p {
    font-size: 10px;
  }

  .write-desc p {
    font-size: 12px;
  }

  .map {
    padding-bottom: 100px;
  }
}
