.order {
  margin-top: 160px;
  height: 900px;
  position: relative;
}

.order-banner {
  position: absolute;
  margin-top: 200px;
}

.order-bloc h2 {
  color: #fff;
  font-weight: 400;
  font-size: 100px;
  line-height: 121px;
  font-family: "Cormorant", serif;
  text-transform: uppercase;
}

.order-instruction {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: auto;
  margin-top: 100px;
}

/* .order-instruction ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

.order-instruction ul li {
  color: #fff;
  list-style: none;
  width: 300px;
  margin-bottom: 40px;
}

.order-instruction ul li dt {
  color: #d978ac;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}

.order-instruction ul li dd {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.order-instruction {
  overflow-x: auto;
  overflow-y: hidden;
}

.order-instruction > .order-instruction ul li {
  display: inline-block;
}

.order-signature {
  position: absolute;
  right: 0;
  bottom: 0;
}
